<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <title>Signup</title>
    <link rel="stylesheet" href="/build/tailwind.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <style>
        #logo {
            background-image: url(images/signup.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 60%;

            background-color: white !important;
        }
        .logo { 
         background: url("/path") no-repeat; 
         width: 320px; 
         height: 90px; 
         display: block; 
         text-indent: -9999px;
         margin-left:13%;
         margin-top:1%;
}
        input:focus {
            border-color: #BA68C8;
        }
    </style>
</head>

<body class>
    <div class="lg:flex">
        <div class="lg:w-1/2 xl:max-w-screen-sm -mr-5">
            <!-- <img class="logo" src="/images/sk3.jpeg" alt="" /> -->
            <br> <br> <br>
            <div class="px-12 mt-10 lg:mt-0 sm:px-24 md:px-48 lg:px-12  xl:px-24 xl:max-w-2xl">
                <h2 class="text-center text-4xl text-indigo-900 font-display font-semibold lg:text-left xl:text-5xl
                    xl:text-bold" style="color:#893e96">Signup</h2>
                <% if (errorMessage) { %>
                    <h1>
                        <%= errorMessage %>
                    </h1>
                    <% } %>

                        <div class="mt-12">
                            <form action="/signup" method="POST">
                                <div class="mt-8">
                                    <div class="text-sm font-bold text-gray-700 tracking-wide">Name</div>
                                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none"
                                        type="name" name="username" placeholder="mike">
                                </div>
                                <div class="mt-8">
                                    <div class="text-sm font-bold text-gray-700 tracking-wide">Email Address</div>
                                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none"
                                        type="email" name="email" placeholder="mike@gmail.com">
                                </div>
                                <div class="mt-8">
                                    <div class="flex justify-between items-center">
                                        <div class="text-sm font-bold text-gray-700 tracking-wide">
                                            Password
                                        </div>
                                    </div>
                                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none"
                                        type="password" name="password" placeholder="Enter your password">
                                </div>
                                <div class="mt-8">
                                    <div class="flex justify-between items-center">
                                        <div class="text-sm font-bold text-gray-700 tracking-wide">
                                            Confirm Password
                                        </div>
                                    </div>
                                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none"
                                        type="password" name="confirmpassword" placeholder="Enter your password">
                                </div>

                                <div class="mt-10 lg:ml-20 lg:mr-20 lg:pl-1">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="bg-indigo-500 juistify-center text-gray-100 p-4 w-full rounded-full tracking-wide
                                    font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                                    shadow-lg" style="background-color:#BA68C8" type="submit">
                                        Signup
                                    </button>
                                </div>


                            </form>
                            <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
                                Already have an account ? <a href="/login" class="cursor-pointer hover:text-indigo-800"
                                    style="color:#BA68C8">Login</a>
                                <br><br><br>
                            </div>
                        </div>
            </div>
        </div>
        <div class="hidden lg:flex  bg-indigo-100 " id="logo">

        </div>
    </div>
</body>

</html>