<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/79e9b7a5af.js" crossorigin="anonymous"></script>
</head>
<body style="margin-top:-2%;background-image: url(https://wallpaper.dog/large/10740994.jpg);background-repeat: no-repeat;background-attachment: fixed;">
    
<div >
  <br>
  <h2 class="text-2xl font-extrabold sm:pt-8 text-center tracking-tight text-yellow-200">Green grocery Products</h2><br>
  

<div >
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
 

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
      <% for (var i =1; i <=10;  i++ ) { %>
      <a href="#" class="group bg-white mx-4 p-4">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="https://www.tastingtable.com/img/gallery/everything-you-need-to-know-about-lychee-fruit/l-intro-1648012156.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Product Name</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">₹48 per KG</p><br>
        <button class="bg-red-500 px-6 py-2" style="font-weight: bold;color: rgb(255, 255, 255);">Delete</button>
        
        <br><br>
      </a>
     
        
      
      <% } %>
    </div>
  </div>
</div>

  
</body>
</html>